<header class="page-header">
  <h1> Dashboard </h1>
</header>

<div class= "alert alert-info">
<p> Number of products:  <%= @product_count %></p>
<p> Number of categories:  <%= @category_count %></p>
</div>
